<% include ./partials/header %>
    <br>
    <br>
    <form method='post' action='/login'>
        <input type='text' name="id" align="middle" maxlength="9" onkeyup="changeToUpper('register')" id="register" placeholder='Registration No.' required autofocus />
        <br>
        <br>
        <input type="date" name="date"  minlength="4" placeholder="Date of Birth" required />
        <br>
        <br>
        <input type="submit" value="Login" />
    </form>
    <br>
    <br>
</body>
</html>